<h2 class="head">Objects</h2>

                    <div class="row">
                        <div class="col m6 s12">
                           <div class="object">
                            <div class="carousel">
                                
                                <div class="inner">
                                    
                                  <div class="slide active">
                                      <h1  class="price">18000tenge/day</h1>
                                      <div class="save">
                                        <i class="fa fa-bookmark-o box"></i>
                                      </div>
                                      
                                  </div>
                                </div>
                                <div class="arrow arrow-left"></div>
                                <div class="arrow arrow-right"></div>
                              </div>
                              <div class="obj-footer">
                                  <b class="desc">Квартира студия с гостиничным сервисом</b>
                                  <p class="obj-text">
                                      <span>4 komnati</span>
                                      <span>do 4-h gostei</span>
                                  </p>
                                  <p class="street">Сейфуллина 458,Айтек би</p>

                                  <span class="score">
                                    <div class="score-wrap">
                                        <span class="stars-active" style="width:50%">
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                        </span>
                                    </div>
                                </span>
                              </div>
                        </div>
                        </div>

                        <div class="col m6 s12">
                            <div class="object">
                            <div class="carousel">
                                <div class="inner">
                                  <div class="slide active">
                                      <h1 class="price">18000tenge/day</h1>
                                      <div class="save">
                                        <i class="fa fa-bookmark-o box"></i>
                                      </div>
                                  </div>
                                </div>
                                <div class="arrow arrow-left"></div>
                                <div class="arrow arrow-right"></div>
                              </div>
                               <div class="obj-footer">
                                  <b class="desc">Квартира студия с гостиничным сервисом</b>
                                  <p class="obj-text">
                                      <span>4 komnati</span>
                                      <span>do 4-h gostei</span>
                                  </p>
                                  <p class="street">Сейфуллина 458,Айтек би</p>

                                  <span class="score">
                                    <div class="score-wrap">
                                        <span class="stars-active" style="width:50%">
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                        </span>
                                    </div>
                                </span>
                              </div>
                              </div>
                        </div>
                        
                        
                    </div>

                    <div class="btn-bottom" style="text-align:center;">
                        <button class="btn-more center">View more</button>
                    </div>
