<footer class="page-footer">
    <div class="container">
        <div class="row">
             <div class="col m2 s6 offset-s3 footer-items">
                 <img src="imgs/logo-white.png" alt="">
                 <img src="imgs/footer-google-play.png" alt="">
                 <img src="imgs/footer-appstore.png" alt="">
             </div>

             <div class="col m2 s6 offset-s3">
                <ul class="footer-lists">
                    <li class="li-list li-head">О нас</li>
                    <li>Наша команда</li>
                    <li>Партнерам</li>
                    <li>Контакты</li>
                </ul>
            </div>

             <div class="col m2 s6 offset-s3">
                 <ul class="footer-lists">
                     <li class="li-head">О проекте</li>
                     <li>Наши цели</li>
                     <li>Страховка</li>
                     <li>Публичная оферта</li>
                 </ul>
             </div>

             

             <div class="col m2 s6 offset-s3">
                 <div class="footer-lists footer-items">
                     <p class="li-head">Партнеры:</p>
                     <img src="../../../assets/imgs/digitalid.png" alt="">
                     <img src="../../../assets/imgs/astana-hub.svg" alt="">
                 </div>
             </div>

             <div class="col m2 s6 offset-s3">
                 <div class="footer-lists footer-items">
                     <p class="li-head">Контакты:</p>
                     <p class="phone">+7(747)0940501</p>
                     <p class="mail">info@pillowz.kz</p>

                     <p class="li-head">Подписывайтесь:</p>
                 <div class="social-icons footer-items">
                     <img src="../../../assets/imgs/footer-instagram.svg" alt="">
                     <img src="../../../assets/imgs/footer-vk.svg" alt="">
                     <img src="../../../assets/imgs/footer-fb.svg" alt="">
                 </div>
                 </div>
                 
             </div>

             

         </div>
    </div>