<h2 class="head">Feedbacks</h2>
<div class="row">
    <div class="col m12">
        <div class="recAvr">
            <p>Recommend</p>
            <p class="txt-bl">65% пользователей<span>(15 отзывов)</span></p>
        </div>

        <div class="comments">
            
            <div class="comment-list">
                <img src="https://img.icons8.com/plasticine/2x/user.png" alt="H-image" class="comment-h">
                <section class="comment-user">
                <b class="b-comment">Maksat <span class="paragraph-little-c">23 авг. 2018</span> </b>
              </section>
            </div>
            <p class="my_comment">My comment</p>
              
               
        </div>
        <div class="comments-box">
        <div class="comments">
            
            <div class="comment-list">
                <img src="https://img.icons8.com/plasticine/2x/user.png" alt="H-image" class="comment-h">
                <div class="comment-user">
                <b class="b-comment">Maksat <span class="paragraph-little-c">23 авг. 2018</span> </b>
              </div>
            </div>
            <p class="my_comment">My comment</p>
              
               
        </div>
            
        <div class="comments">
            
            <div class="comment-list">
                <img src="https://img.icons8.com/plasticine/2x/user.png" alt="H-image" class="comment-h">
                <div class="comment-user">
                <b class="b-comment">Maksat <span class="paragraph-little-c">23 авг. 2018</span> </b>
              </div>
            </div>
            <p class="my_comment">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi, ea? Aliquid optio necessitatibus eveniet voluptate laborum, tempore ea magni quis beatae, accusamus excepturi, nemo in. Error assumenda culpa illum fugit.</p>
              
               
        </div>
              
              </div>
        </div>
    </div>
